body,
ul {
    padding: 0;
    margin: 0;
}
body {
    background-color: #ECEAE7;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    color: #911F27;
    font-family: 'Cabin', sans-serif;
    font-size: 2vh;
}
.panel {
    height: 100vh;
    background-color: #ECEAE7;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.side-bar{
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  width: 7vh;
  height: 100vh;
  box-shadow: 0 15px 100px rgba(0, 0, 0, 0.06);
}
.side-bar ul{
  width: 100vh;
  transform: rotate(90deg);
  transform-origin: left top 0;
  position: relative;
  left: 8vh;
}
.list-h,
.list-a{
    width: 18%;
}
.list-p,
.list-c{
    width: 22%;
}
.list-s{
    width: 20%;
}
.side-bar ul li{
  text-align: center;
  display: inline-block;
  list-style:none;
  transform: rotate(-90deg);
}
.filler {
    width: 0;
    display: inline-block;
    opacity: 0;
    transition: easeInOutQuint 600ms, opacity 600ms;
    position: relative;
}
.hvr-bubble-float-right:hover .filler{
    display: inline-block;
    visibility: visible;
    width: initial;
    opacity: 1;
    transition: easeInOutQuint 800ms, opacity 800ms;
}

/********** GENERAL ***********/

.title {
    font-family: 'Raleway', sans-serif;
    font-size: 7vh;
}
.header-size {
    font-family: 'Raleway', sans-serif;
    font-size: 5vh;
}
.sideBar a.active {
}
.sideBar a {
    padding: 1vw 1vw;
    color: black;
}
.navBar a:hover,
.sideBar a:hover{
    text-decoration: none;
}

/********** LANDING ***********/

.header-container {
	height: 100vh;
    position: relative;
    z-index: 4;
}
.header-wrapper,
.about-wrapper,
.skills-wrapper,
.projects-wrapper,
.projects-wrapper2,
.projects-wrapper3,
.projects-wrapper4{
    visibility: hidden;
}
.nav {
    text-align: center;
}
.nav ul {
    margin-top: 10vh;
    margin-bottom: 10vh;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    -ms-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
}
.nav li {
    display: inline-block;
    margin: 0 85px 0 85px;
}
.nav a {
    color: #630A10;
    cursor: pointer;
}
.nav a:hover {
    color: black;
}
.sideBar a.active {
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    color: #630A10;
}


.landing-container {
    position: absolute;
	margin: 4.5%;
    width: 26vw;
    height: 26vw;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 50%;
    left: calc(50% - 17.5vw);
    text-align: center;
    -webkit-animation-delay: 5s;
    -ms-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    font-family: 'PT Mono', monospace;
}
.landing-container span {
    position: relative;
    top: 8vw;
}
/********** ABOUT ***********/

.about-container {
    z-index: 1;
    position: relative;
    padding-bottom: 20px;
    height: 100vh;
}
.projects-cover-intro,
.skills-cover-intro,
.about-cover-intro {
    visibility: hidden;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 8vw;
    letter-spacing: 4.5vw;
    left: 2vw;
    color: #ECEAE7;
    z-index: 9;
    font-family: 'Dosis';
    font-weight: 500;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
    background-color: transparent;
}
.about-header {
    position: relative;
    text-align: center;
    display: block;
}
.about-me-container {
    text-align: center;
    padding: 10px 0;
}
.about-description {
    position: relative;
    line-height: 2.5;
    letter-spacing: 1px;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.edu-exp-interest-container {
    padding-top: 15px;
    text-align: center;
}
.about-interest,
.about-education,
.about-experience {
    vertical-align: top;
    display: inline-block;
    width: 33%;
}
.about-education img{
    background-color: white;
}
.exp-name{
    font-size: 2.5vh;
    color: black;
}
.me-photo-border {
    width: 20vh;
    position: relative;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 50%;
}
.photo-border {
    width: 10vh;
    position: relative;
    border-radius: 50%;
}
.edu-exp-interest-header {
    display: block;
    position: relative;
}
.download-resume {
    height: 5vh;
    width: 250px;
    font-size: 1em;
    border: 1px solid black;
}
.download-resume:hover{
    cursor: pointer;
}
#resume_link{
    color: #911F27;
}
#resume_link:hover{
    color: #ECEAE7;
    text-decoration: none;
    
}
.button-container {
    text-align: center;
    padding: 15px;
    color: #630A10;
}
/********** SKILLS ***********/

.skills-container {
    position: relative;
    z-index: 1;
    height: 100vh;  
}
.skills-header,
.contact-header,
.projects-header {
    display: block;
    text-align: center;
}
.skills-header {
    padding-top: 5vh;
}
.skills-frontEnd,
.skills-backEnd,
.skills-tools,
.skills-design {
    display: inline-block;
    width: 49%;
    text-align: center;
    padding: 2vh 0 3vh 0;
}
.circle-box {
    width: 15vh;
    height: 150px;
    margin: 35px;
    display: inline-block;
}
.circle-box span {
    position: relative;
    top: 25px;
}
.circle {
    width: 100%;
    padding-bottom: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #D8D6D7;
}
/********** Project ***********/

.projects-container {
    z-index: 1;
    position: relative;
    height: 100vh;
}
.project-tech {
    font-weight: 600;
}
.project-pic {
    padding-top: 40px;
    height: 50%;
    position: relative;
    text-align: center;
    background-color: #911F27;
    padding-bottom: 30px;
}
.project-pic img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 75vh;
}
.project-description {
    padding-left: 5vw;
    padding-top: 20px;
    width: calc(100% - 100px);
    text-align: center;
}
.project-button {
    height: 5vh;
    width: 25vh;
    font-size: 1em;
    border: 1px solid black;
    margin: 0 5vh;
}
.project-button:hover{
    cursor: pointer;
}
.project-button-container {
    text-align: center;
    padding: 15px;
    color: #630A10;
    margin-top: 5vh;
}
/********** CONTACT ***********/

.contact-container {
    height: 20vh;
}
.contact-header{
    padding-bottom:2vh;
}
.contact-row {
    text-align: center;
}
.contact-row img {
    width: 8%;
    margin: 50px;
}
.contact-svg{
    display: inline-block;
    width: 20%;
    margin: 0 5vh;
    max-width: 10vw;
}
.contact-svg:hover{
    cursor: pointer;
}
.copyright{
    text-align: center;
    margin: 30px 0 10px 0;
    letter-spacing: 7px;
    font-size: 1.5vh;
}


