/********** INTRO ***********/
.cover{
  height: 100vh;
  width: 100vw;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-name: welcome;
  -webkit-animation-name: welcome;
  animation-fill-mode: forwards;
  overflow: hidden;
}
@keyframes welcome{
  0%, 25%, 80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }
}

@-webkit-keyframes welcome{
  0%, 25%, 80%{
    -webkit-opacity: 1;
  }
  100%{
    -webkit-opacity: 0;
    -webkit-z-index: -1;
    -webkit-visibility: hidden;
  }
}
.welcome-cover{
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 8vw;
  letter-spacing: 4.5vw;
  left: 2vw;
  color: black;
  z-index: 9;
  font-family: 'Dosis';
  font-weight: 500;
  animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
  -ms-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
}
.cover-bar{
  position: absolute;
    height: 100px;
    width: 0;
    background-color: #911F27;
}
.one{
  -webkit-animation: swipe 0.2s ease 0.5s;
  animation: swipe 0.2s ease 0.5s;
  -ms-animation: swipe 0.2s ease 0.5s;
  -o-animation: swipe 0.2s ease 0.5s;
  -moz-animation: swipe 0.2s ease 0.5s;
  animation-fill-mode: forwards;
  left: 0;
}
.three{
  animation: swipe 0.2s ease 1s;
  -webkit-animation: swipe 0.2s ease 1s;
  -ms-animation: swipe 0.2s ease 1s;
  -o-animation: swipe 0.2s ease 1s;
  -moz-animation: swipe 0.2s ease 1s;
  animation-fill-mode: forwards;
  left: 40%;
}

.five{
  animation: swipe 0.2s ease-out 0.5s;
  -webkit-animation: swipe 0.2s ease-out 0.5s;
  -ms-animation: swipe 0.2s ease-out 0.5s;
  -o-animation: swipe 0.2s ease-out 0.5s;
  -moz-animation: swipe 0.2s ease-out 0.5s;
  animation-fill-mode: forwards;
  left: 80%;
}
@keyframes swipe{
  0%{
    height: 0;
    width: 20vw;
  }
  100%{
    height: 100vh;
    width: 20vw;
  }
}
.triangle{
  position: absolute;
  top: 100vh;
  width: 0; 
  height: 0; 
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-bottom: 10vw solid #ECEAE7;
  animation-name: fly;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
}

.d1{
  animation-delay:1.5s;
  -webkit-animation-delay:1.5s;
  -moz-animation-delay:1.5s;
  -ms-animation-delay:1.5s;
  -o-animation-delay:1.5s;
}
.d2{
  animation-delay:1.3s;
  -webkit-animation-delay:1.3s;
  -moz-animation-delay:1.3s;
  -ms-animation-delay:1.3s;
  -o-animation-delay:1.3s;
}
.d3{
  animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -ms-animation-delay:1.2s;
}

@keyframes fly{
  0%{
    top: 100vh;
  }
  100%{
    top: -100vh;
  }
}
.intro-circles-container1{
	-webkit-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
	-webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  -ms-animation-delay: 3.5s;
}
.intro-circles-container2{
	-webkit-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
	-webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  ms-animation-delay: 4s;
}
.intro-circles-container3{
	-webkit-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
	-webkit-animation-delay: 4.5s;
  -o-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  -ms-animation-delay: 4.5s;
}
.outer-circle{
    border: 0.5vw solid #ECEBFA;
    border-left-color: #630A10;
    border-top-color: #630A10;
     -webkit-transform: rotate(360deg); 
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    position: absolute;
    width: 32vw;
    height: 32vw;
    margin: 1.5%;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 50%;
  	-webkit-animation:turning_cw 4s infinite;
  	-moz-animation:turning_cw 4s infinite;
  	animation:turning_cw 4s infinite;
  	animation-timing-function: linear;
  	left: calc(50% - 17.5vw);
}
.inner-circle{
  border: 0.5vw solid #ECEBFA;
  border-bottom-color: #630A10;
  border-right-color: #630A10;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
  position: absolute;
  margin: 3%;
  width: 29vw;
  height: 29vw;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  border-radius: 50%;
  -webkit-animation: turning_acw 5s infinite;
  -moz-animation: turning_acw 5s infinite;
  animation: turning_acw 5s infinite;
  animation-timing-function: linear;
  left: calc(50% - 17.5vw);
}
.last-circle{
	  border: 0.5vw solid #ECEBFA;
    border-bottom-color: #630A10;
    border-right-color: #630A10;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
    position: absolute;
    width: 35vw;
    height: 35vw;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 50%;
    -webkit-animation: turning_acw 3s infinite;
    -moz-animation: turning_acw 3s infinite;
    animation: turning_acw 3s infinite;
    animation-timing-function: linear;
    left: calc(50% - 17.5vw);
}
@keyframes turning_cw {
  	0%{
  		transform: rotate(0deg); 
      -webkit-transform: rotate(0deg); 
    }
  	100%{
  		transform: rotate(360deg); 
      -webkit-transform: rotate(360deg); 
    }
}

@keyframes turning_acw {
  	0%{
  		transform: rotate(360deg); 
      -webkit-transform: rotate(360deg); 
    }
  	100%{
  		transform: rotate(0deg); 
      -webkit-transform: rotate(0deg); 
    }
}
.projects-cover,
.skills-cover,
.about-cover{
  height: 100vh;
  width: 100vw;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 10;
  animation-duration: 2s;
  animation-name: about-cover-anim;
  animation-fill-mode: forwards;
  background-color: #ECEAE7;

}
@keyframes about-cover-anim{
  70%{
    opacity: 1;
  }
  100%{
    opacity:0;
    visibility: hidden;
  }
}
.arrow1{
  visibility: hidden;
  position: absolute;
  top: calc(50vh - 10vw);
  left: 90vw;
  width: 0; 
  height: 0; 
  border-left: 10vw solid #630A10;
  border-top: 10vw solid transparent;
  border-bottom: 10vw solid transparent;
  animation-name: swoop;
  animation-duration: 0.7s;
}
.arrow2{
  visibility: hidden;
  position: absolute;
  top: calc(50vh - 5vw);
  width: 90vw; 
  height: 10vw;
  background-color: #630A10;
  animation-name: swoosh;
  animation-duration: 0.7s;
}
@keyframes swoop{
  0%{
    left: 0;
  }
  100%{
    left: 90vw;
  }
}
@keyframes swoosh{
  0%{
    width: 0;
  }
  100%{
    width: 90vw;
  }
}
/* FROM HOVER.CSS */
.hvr-shutter-out-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #ECEAE7;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-out-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #630A10;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
  color: #ECEAE7;
}
.hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #ECEAE7;
 color: #630A10;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #630A10;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: #ECEAE7;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}