body,
ul{
	padding: 0;
	margin: 0;
}
@font-face{
	font-family: sensei;
	src: url(../sensei/Sensei-Medium.ttf);
}

/********** GENERAL ***********/
.blue-background{
	background-color: #4D576A;
	color: #D8D6D7;
}
.white-background{
	background-color: #D8D6D7;
	color: #4D576A;
}
.sensei-title{
	/*font-family: sensei;*/
	font-family: 'Raleway', sans-serif;
	font-size: 6em;
}
.sensei-description{
	/*font-family: sensei;*/
	font-family: 'Cabin', sans-serif;
	font-size: 1.5em;
}
.sensei-longDes{
	/*font-family: sensei;*/
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
}
.sensei-header{
	/*font-family: sensei;*/
	font-family: 'Raleway', sans-serif;	
	font-size: 3.5em;
}
.sensei-subheader{
	/*font-family: sensei;*/
	font-family: 'Raleway', sans-serif;
	font-size: 4em;
}
/********** LANDING ***********/
.header-container{
	height: 100vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
	text-align: center;
}
.nav ul{
	margin-top: 150px;
	-webkit-animation-duration: 2s;
}
.nav li{
	display: inline-block;
	margin: 0 85px 0 85px;
} 
.nav a{
	color: #D8D6D7;
	cursor: pointer;
}
.nav a:hover{
	color: #337ab7;
}
.header-intro{
	color: #D8D6D7;
    max-width: 80%;
    left: 15%;
    position: relative;
    text-align: left;
    top: 125px;
    -webkit-animation-duration: 1.5s;
}
.nav img{
	width: 800px;
	float: left;
	position: relative;
	left: 150px;
	-webkit-animation-duration: 5s;
}

/********** ABOUT ***********/
.about-header{
	position: relative;
	padding-top: 100px;
	padding-left: 10%;
	display: block;
}
.about-description{
    position: relative;
    padding-top: 100px;
    left: 10%;
    line-height: 3;
    letter-spacing: 1px;
    display: inline-block;
}
.about-description span{
	float: left;
    width: 700px;
}
.about-photo{
    width: 250px;
    position: relative;
    left: 42%;
    margin-top: -250px;
}
.about-icon{
	padding-top: 75px;
}
.about-education,
.about-experience{
	display: inline-block;
    width: 49%;
    text-align: center;
}
.photo-border{
	width: 250px;
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
}
.edu-exp-header{
	display: block;
	position: relative;
}
.edu-exp-description{
	display: block;
    text-align: center;
    position: relative;
    margin-top: 15px;
}
.download-resume{
    height: 105px;
    width: 300px;
    border-radius: 10px;
}
.button-container{
	text-align:center;
	margin:auto;
	padding: 50px;
}

/********** SKILLS ***********/
.skills-container{
	background-attachment: scroll;
}
.skills-header,
.contact-header,
.projects-header{
	display: block;
	text-align: center;
	padding-top: 50px;
}
.skills-frontEnd,
.skills-backEnd,
.skills-tools,
.skills-design{
	display: inline-block;
	width: 49%;
	text-align: center;
	padding: 50px 0;
}
.circle-box{
	width: 150px;
	height: 150px;
	margin: 35px;
	display: inline-block;
}
.circle-box span{
	position: relative;
	top: 25px;
}
.circle{
	width: 100%;
	padding-bottom: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #D8D6D7;
}

/********** SKILLS ***********/
.projects-header{
	padding: 50px 0;
}
.left-half{
	display: inline-block;
	text-align: right;
	width: 49%;
}
.right-half{
	display: inline-block;
	text-align: left;
	width: 49%;
	padding-left: 50px;
}
.project-object{
	padding: 40px 0;
}
.project-pic{
    width: 80%;
    max-width: 800px;
    height: 500px;
    border: 1px solid #000;
    display: inline-block;
    position: relative;
}
.project-description{
	width: calc(100% - 200px);
    display: inline-block;
    vertical-align: top;
}
.right-des{
	float: right;
	max-width: 800px;	
	position: relative;
	right: 10%;
}
.left-des{
	float: left;
	max-width: 800px;	
	position: relative;
	left: 10%;
}
/********** CONTACT ***********/
.contact-container{
	background-attachment: fixed;
}
.contact-row{
	text-align: center;
}
.contact-row img{
	width: 8%;
	margin: 50px;

}