/* Iphone 6 and 6+ and android phones */ 
@media only screen and (min-device-width: 360px) and (max-device-width: 767px){
    .side-bar{
        display: none;
    }
    .panel{
        height: 100%;
        border-radius: 0px;
    }
    .nav li{
        font-family: 'Raleway', sans-serif;
        /*font-size: 1em;*/
        display: block;
        padding: 5px 0px;
        list-style: none;
    }
    .landing-container span {
        top: 13vw;
        color: #ECEAE7;
    }
    .nav a{
        font-size: 16px;
        color: #ECEAE7;
    }
    .about-container{
        padding: 20px 30px;
    }
    .inner-circle,
    .outer-circle,
    .last-circle{
        border: 0.5vw solid #ECEAE7;
        border-left-color: #630A10;
        border-top-color: #630A10;
        left: calc(50% - 19vh);
    }
    .inner-circle{
        margin: 4.5%;
        width: 32vh;
        height: 32vh;
    }
    .outer-circle{
        width: 35vh;
        height: 35vh;
        margin: 2.5%;
    }

    .last-circle{
        width: 38vh;
        height: 38vh;
    }
    .about-interest, 
    .about-education, 
    .about-experience {
        display: initial;
    }
    .skills-frontEnd, 
    .skills-backEnd, 
    .skills-tools, 
    .skills-design {
        display: block;
        width: 100%;
    }
    .cover-bar{
        background-color:#ECEAE7;
        /*z-index: 100;*/
    }
    .project-description{
        padding: 20px;
        width: 100%;
    }
    .project-pic img{
        min-width: 80%;
    }
    .circle-box{
        width: 75px;
        height: 50px;
        margin: 20px;
    }
    .about-description{
        line-height: 2;
    }
    .triangle{
        border-bottom: 10vw solid #911F27;
    }
    .header-container{
         height: 100vh;
        background-color: #911F27;
    }
}

/* Tablets */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /*.title{
        font-size: 3em;
    }*/
    .panel{
        border-radius: 0px;
    }
    /*.header-size{
        font-size: 2em; 
    }*/
    .header-container{
        background-color: #911F27;
    }
    .side-bar{
        display: none;
    }
    .nav li{
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        display: block;
        padding: 5px 0px;
        list-style: none;
    }
    .nav a{
        color: #ECEAE7;
    }
    .landing-container span {
        top: 12vw;
        color: #ECEAE7;
    }
    .inner-circle,
    .outer-circle,
    .last-circle{
        left: calc(50% - 19vh);
    }
    .inner-circle{
        margin: 4.5%;
        width: 32vh;
        height: 32vh;
    }
    .outer-circle{
        width: 35vh;
        height: 35vh;
        margin: 2.5%;
    }
    .last-circle{
        width: 38vh;
        height: 38vh;
    }
    .about-container{
        padding: 20px 75px;
    }
    .about-description{
        line-height: 2.5;
    }
    .about-interest, 
    .about-education, 
    .about-experience {
        display: initial;
    }
    .skills-frontEnd, 
    .skills-backEnd, 
    .skills-tools, 
    .skills-design {
        display: block;
        width: 100%;
    }
    .project-description{
        padding: 30px 50px;
        width: 100%;
    }
    .cover-bar{
        background-color:#ECEAE7;
    }
    .triangle{
        border-bottom: 10vw solid #911F27;
    }

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .side-bar{
        display: none;
    }
    .nav li{
        display: block;
        list-style: none;
    }
}
/* Laptops */
@media only screen and (min-device-width: 1025px){
    .nav li {
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        list-style: none;
    }
    .landing-container{
        font-size: 1.5em;
    }
}